{% extends 'base.html' %}

{% include 'pagination.html' %}

{% block title %}Usuários{% endblock %}

{% block content %}

<h2>Usuários</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>É Staff?</th>
            <th>Data de Cadastro</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>
                {% if usuario.is_staff %}
                    <span class="badge bg-danger">Admin</span>
                {% else %}
                    <span class="badge bg-secondary">Usuário</span>
                {% endif %}
            </td>
            <td>{{ usuario.date_joined|date:"d/m/Y H:i" }}</td>
            <td>
                <a href="{% url 'edit_usuario' usuario.id %}" class="btn btn-warning btn-sm">Editar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum usuário encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>177
</table>

{% endblock %}